<html>

    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <title><%= title %></title>
    </head>

    <body>
        <div class="container">
            <center>
                <h1>Get the minimum and maximum price of listings in a certain neighbourhood.</h1>
                <hr>

                <form method="post" action="/query6">
                    <div class="form-group">
                        <select required name="neighbourhood" class="form-control">
                            <option value="" selected disabled hidden>Choose a neighbourhood</option>
                            <% for(var i = 0; i < choices.length; i++) { %>
                                <option value="<%= choices[i].neighbourhood %>"><%= choices[i].neighbourhood %></option>
                            <% } %>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <hr>

                <% if(typeof results == 'undefined') { %>
                    <h2 class="init">Configure the filters above and submit!</h2>
                <% } else if (typeof results != 'undefined' && results.length != 0) { %>
                    <h2>Minimum and maximum price of listings in neighbourhood = <%= neighbourhood %></h2>
                    <table class="table">
                        <tr>
                            <th><h3>neighbourhood</h3></th>
                            <th><h3>min_price</h3></th>
                            <th><h3>max_price</h3></th>
                        </tr>
                        <% for(var i = 0; i < results.length; i++) { %>
                            <tr>
                                <td class="row"><%= results[i].neighbourhood %></td>
                                <td><%= results[i].min_price %></td>
                                <td><%= results[i].max_price %></td>
                            </tr>
                        <% } %>
                    </table>
                <% } else { %>
                    <h2>Minimum and maximum price of listings in neighbourhood = <%= neighbourhood %></h2>
                    <h3 class="err">No results found!</h3>
                <% } %>
            </center>
        </div>
    </body>

</html>