<html>

    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <title><%= title %></title>
    </head>

    <body>
        <div class="container">
            <center>
                <h1>Get average price of a given last review year in two different neighborhoods for comparison.</h1>
                <hr>

                <form method="post" action="/query4">
                    <div class="form-group">
                        <select required name="neighbourhood1" class="form-control">
                            <option value="" selected disabled hidden>Choose first neighbourhood</option>
                            <% for(var i = 0; i < choices.length; i++) { %>
                                <option value="<%= choices[i].neighbourhood %>"><%= choices[i].neighbourhood %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group">
                        <select required name="neighbourhood2" class="form-control">
                            <option value="" selected disabled hidden>Choose second neighbourhood</option>
                            <% for(var i = 0; i < choices.length; i++) { %>
                                <option value="<%= choices[i].neighbourhood %>"><%= choices[i].neighbourhood %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group">
                        <select required name="year" class="form-control">
                            <option value="" selected disabled hidden>Choose a year</option>
                            <option value="2019">2019</option>
                            <option value="2018">2018</option>
                            <option value="2017">2017</option>
                            <option value="2016">2016</option>
                            <option value="2015">2015</option>
                            <option value="2014">2014</option>
                            <option value="2013">2013</option>
                            <option value="2012">2012</option>
                            <option value="2011">2011</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <hr>

                <% if(typeof results == 'undefined') { %>
                    <h2 class="init">Configure the filters above and submit!</h2>
                <% } else if (typeof results != 'undefined' && results.length != 0) { %>
                    <h2>Comparative average price of listings in neighbourhood = <%= neighbourhood1 %> and <%= neighbourhood2 %>, with last_review_year = <%= year %></h2>
                    <table class="table">
                        <tr>
                            <th><h3>neighbourhood</h3></th>
                            <th><h3>last_review_year</h3></th>
                            <th><h3>avg_price</h3></th>
                        </tr>
                        <% for(var i = 0; i < results.length; i++) { %>
                            <tr>
                                <td class="row"><%= results[i].neighbourhood %></td> 
                                <td><%= results[i].last_review_year %></td>
                                <td><%= results[i].avg_price %></td>
                            </tr>
                        <% } %>
                    </table>
                <% } else { %>
                    <h2>Comparative average price of listings in neighbourhood = <%= neighbourhood1 %> and <%= neighbourhood2 %>, with last_review_year = <%= year %></h2>
                    <h3 class="err">No results found!</h3>
                <% } %>
            </center>
        </div>
    </body>

</html>